*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.container::before, .container::after {
  display: table;
  content: '';
}

@media (max-width: $viewport-l) {
  .container {
    padding: 0 15px;
  }
}
@media (min-width: $viewport-l) {
  .container {
    max-width: $container-width;
  }
}

a {
  color: $link-color;

  &:active,
  &:focus,
  &:hover {
    color: darken($link-color, 10%);
  }
}

.round {
  border-radius: 6px;
}

.circle {
  border-radius: 50%;
}

.thumbnail {
  border-radius: 4px;
  padding: 5px;
  border: 1px solid $light-gray;
}

img {
  width: 100%;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media .media-figure {
  margin-right: 1em;
}

.media .media-body {
  flex: 1 0 0;
}
