.bg-white { background-color: $default; }
.bg-light { background-color: $light-gray; }
.bg-dark { background-color: $dark-gray; }
.bg-info { background-color: $info; }
.bg-primary { background-color: $primary; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-danger { background-color: $danger; }

.text-white { color: $default; }
.text-light { color: $light-gray; }
.text-dark { color: $dark-gray; }
.text-info { color: $info; }
.text-primary { color: $primary; }
.text-success { color: $success; }
.text-warning { color: $warning; }
.text-danger { color: $danger; }

.border-white { border: 1px solid $default; }
.border-light { border: 1px solid $light-gray; }
.border-dark { border: 1px solid $dark-gray; }
.border-info { border: 1px solid $info; }
.border-primary { border: 1px solid $primary; }
.border-success { border: 1px solid $success; }
.border-warning { border: 1px solid $warning; }
.border-danger { border: 1px solid $danger; }
