.bg-default { background-color: $default; }
.bg-info { background-color: $info; }
.bg-primary { background-color: $primary; }
.bg-success { background-color: $success; }
.bg-warning { background-color: $warning; }
.bg-danger { background-color: $danger; }

.text-default { color: $default; }
.text-info { color: $info; }
.text-primary { color: $primary; }
.text-success { color: $success; }
.text-warning { color: $warning; }
.text-danger { color: $danger; }

.border-default { border: 1px solid $default; }
.border-info { border: 1px solid $info; }
.border-primary { border: 1px solid $primary; }
.border-success { border: 1px solid $success; }
.border-warning { border: 1px solid $warning; }
.border-danger { border: 1px solid $danger; }
