ul.navbar {
    list-style: none;
    padding: 0;
    margin: 0;

    li a {
        font-family: $navbar-font;
        text-decoration: none;
        white-space: nowrap;
        color: $navbar-text-color;

        &:not(:only-child):focus {
            pointer-events: none;
        }
    }

    ul {
        display: none;
        background-color: $subbar-back-color;
        list-style: none;
        margin: 0;
        z-index: 2;

        li.diliver {
            height: 1px;
            margin: 9px 0;
            overflow: hidden;
            background-color: $navbar-border-color;
        }

        li.header {
            text-transform: uppercase;
            font-size: 12px;
            color: lighten($navbar-text-color,25%);
            font-weight: bold;
            padding: 3px 15px;
        }
    }

    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
@media screen and (min-width: $viewport-s) {
    ul.navbar {
        li {
            display: block;
            position: relative;
            float: left;

            a {
                display: block;
            }
            ul {
                @include box-shadow($subbar-box-shadow);
                border: $subbar-border;
                padding: 5px 0;
                min-width: 160px;

                li {
                    float: none;
                    background-color: $subbar-back-color;

                    a {
                        background: $subbar-back-color;
                        padding: $subbar-padding;

                        &:hover {
                            background: $subbar-back-hover;
                        }

                        &:not(:only-child):active + ul,
                        &:not(:only-child):focus + ul {
                            display: block;
                            position: absolute;
                        }
                    }
                }
            }
        }

        ul ul {
            left: 100%;
            top: 0;
        }

        li a:active + ul,
        li a:focus + ul,
        li ul:hover,
        ul li a:active + ul,
        ul li a:focus + ul,
        ul li ul:hover {
            display: block;
            position: absolute;
        }
    }
}
@media screen and (max-width: $viewport-s) {
    ul.navbar {
        margin-left: -15px;
        margin-right: -15px;

        > li {
            &:not(:last-child) {
                border-bottom: 1px solid $navbar-border-color;
            }

            > ul {
                border-top: 1px solid $navbar-border-color;
                border-left: none;
                border-right: none;
                border-bottom: none;
            }

            a {
                display: block;
                padding: $navbar-padding*.75;
            }
        }

        li a:active + ul,
        li a:focus + ul,
        li ul:hover,
        ul li a:active + ul,
        ul li a:focus + ul,
        ul li ul:hover {
            display: block;
        }
    }
}

ul.navbar.navbar-default {
    background-color: $navbar-back-color;
    border: 1px solid $navbar-border-color;

    > li {
        background: $navbar-back-color;

        > a:not(:only-child):after {
            border-top-color: $navbar-text-color;
        }

        > a {
            padding: $navbar-padding;

            &:hover {
                color: $navbar-text-hover;
                background-color: $navbar-back-hover;
            }
        }
    }
}

ul.navbar.navbar-fixed {
    border-radius: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a.carret,
.btn.carret {
    padding-right: 25px !important;
}

.carret::after {
    content: '';
    position: absolute;
    border: 5px solid transparent;
}

.carret.carret-left::after {
    top: 35%;
    right: 5px;
    border-left-color: #aaa;
}

.carret.carret-top::after {
    top: 45%;
    right: 10px;
    border-top-color: #aaa;
}
.carret.carret-right::after {
    top: 35%;
    right: 5px;
    border-right-color: #aaa;
}
.carret.carret-bottom::after {
    top: 45%;
    right: 10px;
    border-bottom-color: #aaa;
}
